.reservations {
  //min-height: 500px;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 20px 40px;
  gap: 20px;
  position: relative;

  //grid-template-rows: repeat(4, 1fr);
  //grid-template-columns: 1fr 2fr;
  //grid-template-areas:
  //        "A F"
  //        "B F"
  //        "C F"
  //        "D F";
}

.area {
  height: 100%;
  width: 100%;
  //border: 1px solid rgb(150,150,150);
  //box-shadow: 0 0 3px 1px rgba(0,0,0,0.05);
  display: flex;

  //background: rgb(235,235,235);
  //background: lightcoral;
}

.reservations__total {
  background: rgb(235,235,235);
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.05);
  padding: 20px 40px;
  display: flex;
  align-items: center;
  gap: 10px;

  h1 {
    color: var(--button);
    font-size: 60pt;
  }

  .reservations__total-info {
    margin-bottom: 5px;
    text-align: right;
    h2, h3 {
      color: var(--text-primary);
    }
    h2 {
      font-size: 26pt;
    }
    h3 {
      font-size: 10pt;
    }
  }
}

.box-1 {grid-area: A;}
.box-2 {grid-area: B;}
.box-3 {grid-area: C;}
.box-4 {grid-area: D;}

.box-5 {
  //background: rgb(235,235,235);
  //box-shadow: 0 0 3px 1px rgba(0,0,0,0.05);
  grid-area: F;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  overflow-y: auto;

  .panel-button {
    display: none;
    min-height: 60px;
  }
}

.panel-button {
  border-radius: 0;
  width: 100%;
  height: 60px;
  font-size: 16pt;
  background: rgb(235,235,235);
}


.delete-button {
  align-self: flex-end;
  border-color: orangered;
  color: orangered;
  font-size: 16pt;
  background: rgb(235,235,235);

  &:hover {
    border-color: red;
    color: red;
  }

  .wave {
    background: red;
  }
}

@media screen and (max-width: 1500px) {
  .reservations__total {
    height: 100px;
    padding: 20px 40px;
    h1 {
      font-size: 40pt;
    }

    .reservations__total-info {
      h2 {
        font-size: 18pt;
      }
      h3 {
        font-size: 10pt;
      }
    }
  }
}


@media screen and (max-width: 1300px) {
  .reservations {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
          "A"
          "B"
          "F";
  }
  .box-4 {
    display: none;
  }
  .box-5 {
    .panel-button {
      display: block;
    }
  }
}


@media screen and (max-width: 1050px) {

  .reservations__total {
    display: flex;
    justify-content: center;

    h1 {
      font-size: 40pt;
    }
  }

  .reservations {
    grid-template-columns: 1fr;
    grid-template-areas:
          "A"
          "B"
          "F";
  }
}

@media screen and (max-width: 550px) {
  .reservations__total {
    display: flex;
    justify-content: flex-end;
  }
}


.reservations__header {
  width: 100%;
  height: 100px;
  background: rgb(235,235,235);
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.05);
  padding: 20px 30px;

  display: flex;
  justify-content: space-between;
  gap: 50px;

  .reservations__header-info {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
      color: var(--button-hover);
      font-size: 30pt;
    }
  }

  .reservations__header-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .app-button {
    height: 50px;
    font-size: 14pt;
  }
}

.reservations__body {
  width: 100%;
  height: 100%;
  background: rgb(235,235,235);
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  overflow: auto;
}


@media screen and (max-width: 750px) {
  .reservations__header {
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}


@media screen and (max-width: 500px) {
  .reservations {
    padding: 0;

    .reservations__header-buttons {
      gap: 10px;
    }

    .app-button {
      padding: 0 5px;
    }
  }
}

@media screen and (max-width: 350px) {
  .reservations__header {
    h1 {
      margin-left: 35px;
    }
  }
}