.new__reservation {
  padding: 30px 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100vh;
  overflow: auto;

  .new__reservation-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
    }

    .new__reservation-comment {
      margin-top: 25px;
      padding: 5px;
      font-size: 15px;
      background: none;
      border: 2px solid var(--input-unfocus);
      outline: none;
      resize: none;
      width: 100%;
      transition: 0.3s;
      border-radius: 5px;

      &:focus {
        border: 2px solid var(--input-focus);
      }
    }

    .new__reservation-error {
      height: 20px;
      margin-top: 10px;
      color: tomato;
    }

    .app-button {
      margin-top: 30px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 350px) {
  .new__reservation {
    .app-link {
      align-self: center;
      margin-right: 20px;
    }
  }
}