.panel-card {
  width: 100%;
  //background: lightcoral;
  background: rgb(235,235,235);
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.05);
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  * {
    color: var(--text-primary);
  }

  .panel-card__info {
    display: flex;
    flex-grow: 1;
    gap: 50px;
    //justify-content: space-between;

    .panel-card__info_first {
      width: 22%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span:nth-child(1) {
        font-weight: 600;
        font-size: 14pt;
      }
      span:nth-child(2) {
        font-size: 12pt;
      }

    }

    .panel-card__info_second {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span:nth-child(1) {
        font-weight: 600;
        font-size: 14pt;
      }
      span:nth-child(2) {
        font-size: 12pt;
      }
    }

  }

  .panel-card__buttons {
    //width: 200px;
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;


    .button {
      width: 40px;
      height: 40px;
      border: 1px solid gray;
      border-radius: 50%;
      transition: all 0.3s;
      &:hover {
        background: var(--button);
      }
    }

  }

}

@media screen and (max-width: 1500px) {
  .panel-card {
    gap: 20px;

    .panel-card__info {
      //padding;
      gap: 20px;
    }

  }
}


@media screen and (max-width: 1350px) {
  .panel-card {
    gap: 20px;

    .panel-card__info {
      //padding;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 550px) {
  .panel-card {
    gap: 15px;
  }

  .panel-card__info_first {
    width: 100%;
  }

  .panel-card__info {
    flex-direction: column;
  }
  .panel-card__buttons {
    justify-content: center;
    flex-direction: column;
  }
}