.panel__logout-wrap {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.panel__logout {
  position: relative;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--input-unfocus);
  }
  &:hover {
    background: var(--button);
    h1 {
      color: white;
    }
  }

  h1 {
    transition: 0.3s;
    font-size: 18pt;
    font-weight: 500;
  }
}


@media screen and (max-width: 1200px) {
  .panel__logout {
    height: 50px;
    h1 {
      font-size: 15pt;
    }
  }
}