
.app-button {
  display: block;
  width: 100%;
  padding: 10px 35px;

  position: relative;
  overflow: hidden;

  font-size: 17px;
  text-decoration: none;
  color: #79A0C1;
  text-align: center;

  user-select: none;
  cursor: pointer;

  background: transparent;
  border-radius: 8px;
  border: 2px solid var(--button);

  transition: 0.3s;

  &:hover {
    border: 2px solid var(--button-hover);
    color: var(--button-hover);
    //background: rgb(220,220,220);
  }

  &_disabled {
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.2);
    }
  }

  .wave {
    background: var(--button);
    opacity: 0.4;
    border-radius: 50%;
    transform: scale(0);
    animation: wave .5s linear;
    pointer-events: none;
    position: absolute;
  }
}

@keyframes wave {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

