.delete__btn {
  display: flex;
  height: 50px;
  min-width: 50px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #F34542;;
  align-items: center;
  justify-content: center;
}